*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow-x: hidden;
    font-size: 16px;
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

.btn {
    /* background-color: transparent; */
    padding: 12px 24px;
    border-radius: 50px;
    border: none;
    background: linear-gradient(#3043A9, #1F629F);
    color: #fff;
}

.header {
    background-color: #161D2F;
}

.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.header__logo{
    font-size: 24px;
    color: #fff;
    font-weight: 900;
}

.header__links{
    display: flex;
    gap: 40px;
}

.header__links > a{
    color: #fff;
    text-decoration: none;
}