.Антарктида {
    text-align: center;
}

figure {
    margin: 16px;
    margin-top: 6px;

    clear: right;
    float: right;
}

img {
    width: 500px;
}

p {
    font-size: 16px;
}

.conteiner{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 8px;
}

.Открытие {
    text-align: center;
}