img {
    width: 500px;
}
.Открытие {
    text-align: center;
}
.Факты {
    text-align: center;
}
h2 {
    text-align: center;
}

.voda {
    margin-left: 420px;
}

.voda2 {
    text-align: center;
}

.desert {
    margin-left: 420px;
}

.desert2 {
    text-align: center;
}

.open {
    margin-left: 420px;
}

.open2 {
    text-align: center;
}

.ahtar {
    width: 400px;
    margin-left: 420px;
}

.aht {
    text-align: center;
}